<section class="page--auth">
  <h1>Profile</h1>

  <div class="form-sections form-sections__xl-gap">
    <%= form_with model: current_user, url: profile_email_path do |form| %>
      <fieldset class="form-sections">
        <legend>Change Email Address</legend>

        <% if current_user.unconfirmed_email? %>
          <div>
            <p>Waiting for confirmation of <%= current_user.unconfirmed_email %></p>
          </div>
        <% end %>

        <% if form.object.errors.any? %>
          <div>
            <% form.object.errors.full_messages.each do |message| %>
              <div class="input--error-message">
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <div>
          <span>
            <p>Your email address is: <span class="txt--w-bold"><%= current_user.email %></span></p>
            <p>To change your email, we will send a confirmation email to your new address to complete the change.</p>
          </span>
        </div>

        <div>
          <%= form.label :unconfirmed_email, "Email address" %>
          <%= form.email_field :unconfirmed_email, placeholder: "Enter your new email address", required: true %>
        </div>

        <div>
          <%= form.button "Save Changes", class: "button button--primary" %>
        </div>
      </fieldset>
    <% end %>

    <%= form_with model: current_user, url: profile_password_path do |form| %>
      <fieldset class="form-sections">
        <legend>Change Password</legend>

        <% if form.object.errors.any? %>
          <div>
            <% form.object.errors.full_messages.each do |message| %>
              <div class="input--error-message">
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
        <% end %>

        <div>
          <%= form.label :password_challenge, "Current password" %>
          <%= form.password_field :password_challenge, required: true %>
        </div>

        <div>
          <%= form.label :password, "New password" %>
          <%= form.password_field :password, required: true %>
        </div>

        <div>
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, required: true %>
        </div>

        <div>
          <%= form.button "Save Changes", class: "button button--primary" %>
        </div>
      </fieldset>
    <% end %>

    <%= form_with url: profile_path, method: :delete do |form| %>
      <%= form.button "Delete account", class: "txt--link button--link", data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</section>